

<% if(messages.error) { %>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">                   
            <div class="modal-content bg-dark">
                <div class="modal-body">
                    <p class="text-danger"><%= messages.error %></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<% } %>