
</main>

<button id="scrollTop" class="btn btn-dark" onclick="window.scrollTo(500, 0)">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
</button>

<footer id ="footer">
    <div class="page-footer blue text-center py-3 myFoote" >
        <hr>         
        <h5 id="date" class="pt-2"></h5>
    </div>
</footer>



</body>







<script>
    var now = new Date();
    m = now.getMonth()+1;
    var x = document.getElementById("date"); 
    x.innerHTML = now.getUTCDate()+". "+m+". "+now.getUTCFullYear()+".";  
        
    $(document).ready(function(){
	$(window).scroll(function (){
			if ($(this).scrollTop() > 100) {
				$('#scrollTop').css('display','block');
			} else {
				$('#scrollTop').css('display','none');
			}
		});
    });

    var error = '<%= messages.error %>';
    if(error != '')
        $("#myModal").modal('show');

</script>




<style>
    html, body {
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        background-color: #232329;
        color: white;
    }
    main {
        flex: 1 0 auto;
    }
    footer {
        flex-shrink: 0;
    }
    input[type=text], input[type=text]:focus, textarea{
        background-color: #e3e3e8 !important;
    }

    #scrollTop {
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: none;
    }
</style>
</html>